{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="/" style="front-size: 2rem;">ImagePicApp</a>
</nav>
<tbody>
    <h1>Update Keyword</h1>
    <div class="flexbox">
        <div class="container">
            <div class="card" style="margin: auto;">
            
                <h2 class="card-title">{{ data[0][1] }}</h2>
                
                <img class="card-img" src="../kabegami/{{data[0][1]}}">
                <div>a</div>
                <div>a</div>
                <div>a</div>
                <div>
                    <form action="/update/{{ data[0][0] }}" method="POST">
                        <label>new keyword</label>
                        <input type="text" name="key_word" value="{{ data[0][2] }}">
                        <button type="submit">update</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
   
   
    <a href="/lists" role="button">Back to TopPage</a>
</tbody>
{% endblock %}